.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  /* Change both the opacity and the transform over 3 seconds: */
  transition: all 0.3s ease-out;
}

.ModalOpen {
  /* "forwards" makes it stop the animation instead of repeating infinately. */
  animation: openModal 0.4s, ease-out, forwards;
}
.ModalClosed {
  animation: closeModal 1s, ease-out, forwards;
}

/* Ah, this looks like my CS125 code, although mine used "from" and "to". */
@keyframes openModal {
  0% {
    /* None of the way visible: */
    opacity: 0;
    /* Move it up by 100% (offscreen). */
    transform: translateY(-100%);
  }
  50% {
    /* All the way visible: */
    opacity: 1;
    /* Slightly below where it should be, gives a "bump". */
    transform: translateY(90%);
  }
  100% {
    /* All the way visible: */
    opacity: 1;
    /* Put it exactly where it should be. */
    transform: translateY(0%);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
